# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Pinecone Configuration
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_ENVIRONMENT=aped-4627-b74a
PINECONE_INDEX_NAME=botmarket

# Discord Bot Token
DISCORD_BOT_TOKEN=your_discord_bot_token_here

# XO Market RPC and Contract Addresses
XO_RPC_URL=https://testnet-rpc-1.xo.market/
XO_EXPLORER_URL=http://explorer-testnet.xo.market/
XO_MARKET_CONTRACT=0x3cf19D0C88a14477DCaA0A45f4AF149a4C917523
XO_MARKET_NFT=0x550318A123d222e841776a281F51B09e8909E144

# Next.js
NEXTAUTH_SECRET=your_nextauth_secret_here
NEXTAUTH_URL=http://localhost:3000 